

Backend (Django)

## Entrar a la carpeta del backend:: ##

cd backend

## Crear un entorno virtual (recomendado):##
python -m venv venv

## Activar el entorno virtual: :##

Windows: venv\Scripts\activate

## Descargar Librerias mas rapido
pip install -r requirements.txt

## Aplicar migraciones:##

python manage.py migrate

## Ejecutar servidor de desarrollo: ##

python manage.py runserver
 


Frontend (React con Vite)

## Entrar a la carpeta del frontend:## 

cd frontend

## Instalar dependencias básicas: ## 
npm install

npm list --depth=0 > frontend-deps.txt 

## Instalar React Router (para manejo de rutas en React): ##

npm install react-router-dom


##  Ejecutar servidor de desarrollo de React: ## 
npm run dev

##  Opcional, exponer host a la red local: ## 
npm run dev -- --host 0.0.0.0



Instalar Material UI (opcional):
npm install @mui/material @mui/icons-material

Instalar TailwindCSS y herramientas de PostCSS:
npm install tailwindcss postcss autoprefixer
npx tailwindcss init -p
npm install axios
npm install swr
npm install react-router-dom
npm install lucide-react





npm install zustand           
npm install formik yup      
npm install react-icons        
npm install react-toastify      
npm install clsx            
npm install swr                 
npm install recoil              